@import url('https://fonts.googleapis.com/css2?family=Inter:opsz@14..32&family=Poppins&family=Roboto&display=swap');
@import "tailwindcss";

body {
  font-family: "Poppins", "Inter";
  background-color: #EEE;
  color: #111;
  margin: 1.5rem;
  width: 13rem;
  height: 13rem;
}